.login {
    background-color: #1c8ef8;
    font-family: sans-serif;
}

.login {
    width: 300px;
    height: 350px;
    /*background-color: green;*/
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    top: 200px;
}

.titel1 {
    display: inline-block;
    color: #868787;
}

.title-account {
    /*display: inline-block;*/
    margin: 0px;
    padding-left: 40px;
    float: left;
}

.login input {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 20px;
    display: inline-block;
}

.check input {
    width: 10px;
    height: auto;
}

.check {
    float: left;
    padding-left: 40px;
}

.button1 {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #167bff;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: darkgoldenrod;
}

a {
    float: right;
    padding-right: 40px;
    margin-top: 20px;
    text-decoration: none;
}